<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin home</title>
<style>
  body {
 background-image: url("https://t4.ftcdn.net/jpg/01/05/72/61/360_F_105726195_r0MpL0Noxp2NeMh3RsRwCskbeL7ensjV.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  }
</style>
</head>
<body>
<h1>admin home</h1>
<a href="newSong">Add New Song</a><br><br>
<a href="viewsongs">View All Songs</a><br><br>
<a href="createPlaylist">Create Playlist</a><br><br>
<a href="viewPlaylist">view all playlists</a>

</body>
</html>