<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to TuneHub</title>
<style>
  body {
 background-image: url("https://us.123rf.com/450wm/sunnygraph/sunnygraph1803/sunnygraph180300670/96898573-earphones-on-the-sheet-music.jpg?ver=6");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  }
</style>
</head>
<body>
<h1>Congratulations!</h1>
   <p>You've successfully registered with TuneHub. A world of music awaits you. Login now and let your musical journey begin.</p>
   <p>Discover new artists, create your own playlists, and explore the vast universe of music with us. Whether you're looking to relax, find motivation, or just enjoy some good tunes, we've got you covered.</p>
   <p>Welcome aboard! Let's hit the right note together.</p>
   <br>
    <a href="login"><button>Login</button></a>
</body>
</html>